$deepBlue100: #2F54EB;
$deepBlue70: #6D87F1;
$deepBlue30: #C1CCF9;
$deepBlue05: #F5F6FE;

$lightBlue100: #1890FF;

$greenDeep100: #52C41A;
$greenDeep10: #EEF9E8;

$greenBright100: #A0D911;

$red100: #F5222D;
$red10: #FFF4F5;

$black100: #222222;
$black70: #646464;
$black50: #909090;
$black30: #BDBDBD;
$black20: #D3D3D3;
$black10: #E9E9E9;
$black5: #F4F4F4;

$mint100: #13C2C2;
$mint10: #E7F9F9;

$orangeDeep100: #FA8C16;
$orangeDeep50: #FCC58A;
$orangeDeep30: #FEDDB9;
$orangeDeep07: #FFF7EF;

$orange: #FAAD14;
$yellow: #FADB14;
$white: #FFFFFF;
